@import url(../css/modal.css);

:root {
  --title-text: 'Poppins', sans-serif;
  --accent-text: 'Lora', serif;
  --clr-text-100: hsl(0, 0%, 90%);
  --clr-text-400: hsl(0, 0%, 60%);
  --clr-text-800: hsl(0, 0%, 20%);

  --clr-bg-100: hsl(0, 0%, 90%);
  --clr-bg-200: hsl(0, 0%, 80%);
  --clr-bg-300: hsl(0, 0%, 70%);
  --clr-bg-400: hsl(0, 0%, 60%);
  --clr-bg-500: hsl(0, 0%, 50%);
  --clr-bg-600: hsl(0, 0%, 40%);
  --clr-bg-700: hsl(0, 0%, 30%);
  --clr-bg-800: hsl(0, 0%, 20%);
  --clr-bg-900: hsl(0, 0%, 10%);

  --clr-text-accent: rgba(234, 28, 36, 1.0);
  --clr-text-accent-secondary: rgba(238, 93, 80, 1.0);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333;
  min-height: 100vh;
  font-family: var(--accent-text);
  min-width: 768px;
}

/* UTILITIES */

.mt-5 {
  margin-top: 5rem;
}

.pt-5 {
  padding-top: 5rem;
}

.indent {
  padding-left: 2rem;
}

.bleed {
  box-shadow: 0 0 0 100vmax var(--bg-color);
  clip-path: inset(0 -100vmax);
}

.bg-regular {
  --bg-color: var(--clr-bg-400);
  background-color: var(--bg-color);
}

.container {
  max-width: 1600px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.jc-center {
  justify-content: center;
}

/* TYPOGRAPHY */

.header-700 {
  font-family: var(--title-text);
  font-weight: 700;
}

.header-700-it {
  font-family: var(--title-text);
  font-weight: 700;
  font-style: italic;
}

.header-600 {
  font-family: var(--title-text);
  font-weight: 600;
}

.header-600-it {
  font-family: var(--title-text);
  font-weight: 600;
  font-style: italic;
}

.header-400 {
  font-family: var(--title-text);
  font-weight: 400;
}

.header-400-it {
  font-family: var(--title-text);
  font-weight: 400;
  font-style: italic;
}

.nav-link {
  font-family: var(--title-text);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/* HEADER */

.hero {
  position: relative;
  z-index: -1;
}

.hero-img {
  width: 100%;
  min-height: 25vmax;
  object-fit: cover;
  object-position: center;
  background-color: var(--clr-bg-200);
  margin-bottom: -0.6rem;
}


/* MAIN */
section.container {
  padding-block: 5em;
}


/* NAVIGATION */

.main-nav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding-inline: 2em;
  z-index: 99;
  transition: all 0.3s ease;
}

.main-nav__left {
  align-items: center;
  -moz-opacity: .0;
  filter: alpha(opacity=0);
  opacity: 0;
}

.main-nav__logo {
  color: var(--clr-text-100);
  font-size: 0rem;
  font-weight: 700;
  padding: 1rem;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: fixed;
  outline: 2px dashed var(--clr-text-accent-secondary);
  outline-offset: calc(-1rem + 2px);
  border: 2px dashed var(--clr-text-accent);
  box-shadow: inset 0 0 0 1rem white, 0 0 0 5px gray;
  top: -15px;
}

.main-nav__title {
  font-size: 2.4rem;
  position: relative;
  padding-left: 120px;
}

.main-nav__list,
.main-nav__sub-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.main-nav__item {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--clr-text-800);
  padding: 1em;
}

.main-nav__item:hover {
  background-size: 100% 4px;
}

.main-nav__item a {
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--clr-text-800);
  text-decoration: none;
  padding-block: 0.5em;
}

.main-nav__item .active {
  color: var(--clr-text-accent);
}

.main-nav__link {
  background-image: linear-gradient(90deg, white, var(--clr-text-accent), white);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.main-nav__link:hover {
  transition: all 200ms ease;
  background-size: 100% 3px;
}

.main-nav.scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  border: none;
  filter: drop-shadow(0 5px 0.5rem rgba(0, 0, 0, 0.2));
  transform: translateY(100%) translateY(-100%);
}

.main-nav__left.visible {
  -moz-opacity: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  transition: all 1s ease;
}

.main-nav__list li {
  position: relative;
}

.main-nav__list li ul {
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.main-nav__list li:hover>ul,
.main-nav__list li:focus-within>ul,
.main-nav__list li ul:hover,
.main-nav__list li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

.main-nav__list li ul li {
  clear: both;
  width: 100%;
  white-space: nowrap;
}

.main-nav__sub-list>li {
  padding: 0.5rem 1rem;
}

/* ABOUT */
.card__wrapper {
  --bg-color: var(--clr-bg-100);
  background-color: var(--bg-color);
}

.card__wrapper * {
  border: 1px solid green;
}

.about__card {
  border-radius: 1rem;
  padding: 1em;
  transition: all 400ms ease;
}

.about__portrait__container {
  width: 25%;
  padding: 1em;
  filter: drop-shadow(1px 1px 0.5rem rgba(0, 0, 0, 0.5));
}

.about__portrait {
  clip-path: ellipse();
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}


/* CONTACT */

.contact-header-section {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-column: 1 / 3;
  justify-content: center;
}

.contact-header {
  font-size: 3.2rem;
}

section.container:has(> .contact-container) {
  padding-block: 0;
  align-items: center;
  height: 700px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vmin 0;
  background-color: var(--clr-bg-100);
  border-radius: 1rem;
  position: relative;
  z-index: 3;
  left: 5%;
  filter: drop-shadow(1px 1px 0.5rem rgba(0, 0, 0, 0.5));
}

.contact-container fieldset {
  border: none;
  padding: 4vmin;
  margin: 0;
}

.contact-container hr{
  margin-block: 2em;
}

.contact-container form {
  padding-inline: 5em;
}

.contact-container fieldset legend {
  display: none;
}

.contact-container fieldset label {
  display: none;
}

.contact-input {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--clr-text-800);
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid var(--clr-text-800);
  border-radius: 0.5rem;
  width: 100%;
}

textarea {
  resize: none;
}

.contact-container fieldset button {
  margin-bottom: 0;
  border: 1px solid var(--clr-bg-100);
  background-color: var(--clr-text-800);
  color: var(--clr-bg-100);
  cursor: pointer;
}

.contact-container fieldset button:hover {
  border: 1px solid var(--clr-text-800);
  background-color: var(--clr-text-accent);
}

.contact-photo {
  position: relative;
  /* top: -50px; */
  object-fit: cover;
  object-position: center;
  height: 915px;
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.contact-photo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: var(--clr-bg-100); */
  opacity: 0.5;
  z-index: 1;
  box-shadow: inset 0 0 50rem rgba(0, 0, 0, 1);
}

section.container:has(.events-container) {
  display: grid;
  justify-content: center;
}

.events-container {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: repeat(auto, 300px);
  grid-auto-rows: 2fr;
  grid-auto-columns: 2fr;
  gap: 2em;
  place-items: center;
}

.events-header {
  padding-bottom: 2em;
  font-size: 3.2rem;
}

.event-card {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  padding: 1em;
  transition: all 400ms ease;
  background: var(--clr-bg-100);
  max-width: 500px;
}

.event-card:hover {
  transform: scale(1.05);
}

.event-photo {
  width: 150px;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  flex: 1;
}

.event-info {
  display: flex;
  flex: 2;
  flex-direction: column;
  padding: 1em;
}

.event-info h3 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.2em;
}

.event-info *:not(h3) {
  margin-bottom: 2em;
}

.event-info span {
  display: block;
  margin-bottom: 0;
}

.event-desc-title {
  font-weight: 600;
  font-family: var(--title-text);
}

/* FOOTER */

footer .container {
  --bg-color: var(--clr-bg-900);
  background-color: var(--bg-color);
  color: #fff;
  justify-content: space-evenly;
  padding-top: 5em;
  padding-bottom: 3em;
  align-items: flex-start;
  gap: 10em;
}

.footer__social {
  --bg-color: var(--clr-bg-900);
  background-color: var(--bg-color);
  color: #fff;
  padding-bottom: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -1px;
}

footer h3 {
  font-family: var(--title-text);
  font-size: 2.2rem;
}

footer .footer__tag {
  justify-content: center;
}

.footer-nav__list {
  list-style: none;
}

.footer-nav__list :first-child {
  padding-right: 1em;
}

.footer-nav__list :last-child {
  padding-right: 0;
}

.footer-nav__list>*+* {
  border-left: 1px solid var(--clr-text-accent);
  padding-inline: 1em;

}

.footer-nav__item {}

.footer-nav__item a {
  text-decoration: none;
  text-align: center;
  color: #fff;
}

.self-promo span {
  color: var(--clr-text-accent-secondary)
}

.footer__left i,
.footer__social i {
  background-color: var(--clr-text-accent);
  font-size: 1.8rem;
  width: 3.0rem;
  height: 3.0rem;
  border-radius: 50%;
  text-align: center;
  line-height: 3.0rem;
  margin: 0.5em;
  vertical-align: middle;
}

.footer__left p {
  display: inline-block;
  vertical-align: middle;
}

.footer__left p span,
.footer__text h3 span {
  display: block;
  line-height: 1;
}

.footer__left p a,
.footer__text a {
  color: #fff;
  text-decoration: none;
}

.footer__left a:hover,
.footer__text a:hover {
  color: var(--clr-text-accent);
}

.footer__contact {
  margin-top: 1rem;
  margin-left: -50px;
}

.footer__text ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  line-height: 2;
}

.fab {
  font-size: 2rem;
  color: #fff;
}

/* CONTAINER QUERIES */



/* MEDIA QUERIES */

@media (max-width: 1080px) {
  .hero-img {
    width: 100%;
    height: 15vh;
    object-fit: cover;
    object-position: center;
  }

  section.container:has(> .contact-container) {
    height: 100%;
    margin-inline: 0;
    padding-block: 3em;
  }

  .contact-header-section {
    display: grid;
    grid-template-columns: repeat(1, 500px);
    justify-content: center;
  }

  .contact-container {
    position: relative;
    left: 0;
    border-radius: 0;
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
    background-color: var(--clr-bg-400);
  }

  .contact-photo {
    display: none;
  }

  .events-container {
      grid-template-columns: repeat(1, 500px);
      justify-content: center;
  }
}

@media (max-width: 960px) {
  main-nav {
    flex-direction: column;
  }

  footer .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .footer__text:not(:first-of-type) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}