.modal {
  position: fixed;
  left: 1000;
  top: 1000;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 90;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 4rem 4.5rem;
  width: min(70ch, 90vw);
  border-radius: 0.5rem;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  left: 0;
  top: 0;
}

.modal-content:has(iframe) {
  padding: 1rem 1.5rem;
  width: min(1600px, 90vw);
  height: min(900px, 90vh);
}

.modal-content iframe {
  width: calc(min(1600px, 90vw) - 3rem);
  height: calc(min(900px, 90vh) - 2rem);
}

.modal-content ul {
  padding-left: 4rem;
}

.modal-content h3 {
  margin-top: 3rem;
}